@using Wyam.Core.Helpers

@{
    Layout = "_Layout.cshtml";
}

<div class="row">
    <div class="col-md-9">
        <h1 class="title">@Model.Get("Title")</h1>
        @RenderBody()
    </div>
    <div class="col-md-3">
        @{
            string[] topics = new string[]
            {
                "Getting Started",
                "Modules",
                "Advanced"    
            };
            foreach(string topic in topics)
            {
                string topicFolder = topic.ToLower().Replace(' ', '-');
                <h3>@topic</h3>
                <ul class="nav nav-pills nav-stacked">
                    @foreach(IDocument doc in AllDocuments
                        .Where(x => x.Metadata.ContainsKey("FileRelative") && ((string)x.Metadata["FileRelative"]).StartsWith(System.IO.Path.Combine("docs", topicFolder)))
                        .OrderBy(x => int.Parse((string)x.Metadata.Get("Order", "1000")))
                        .ThenBy(x => ((string)x.Metadata.Get("Title"))))
                    {
                        string active = (string)Model.Get("FileRelative") == (string)doc.Metadata["FileRelative"] ? "active" : null;
                        <li class="@active"><a href="/@PathHelper.RemoveExtension((string)doc.Metadata.Get("FileRelative"))">@doc.Metadata.Get("Title", @doc.Metadata.Get("FileBase"))</a></li>
                    }
                </ul>
            }
        }
    </div>
</div>
