@{
	Layout = @"..\_Master.cshtml";
	ViewData["Title"] = "Modules - " + Model["DisplayName"];
}

@section Sidebar {
	@Html.Partial("Sidebar\\_Modules")
}

<section class="content-header">
	<h1>@Model.Name()</h1>
</section>
<section class="content">
	@RenderBody()  @* Empty, but needs to be here *@
	
	@{
		// Summary
		string summary = Model.String("Summary");
		if(!string.IsNullOrWhiteSpace(summary))
		{
			<div class="lead">@Html.Raw(summary)</div>
		}
		
		// Remarks
		string remarks = Model.String("Remarks");
		if(!string.IsNullOrWhiteSpace(remarks))
		{
			<div>@Html.Raw(remarks)</div>
		}
		
		// Examples
		string examples = Model.String("Example");
		if(!string.IsNullOrWhiteSpace(examples))
		{
			<h1>Examples</h1>
			<hr />
			<div>@Html.Raw(examples)</div>
		}
		
		<h1>Usage</h1>
		<hr />
		
		// Constructors
		<ul>			
		@{			
			IReadOnlyList<IDocument> constructors =
				Model.List<IDocument>("Constructors")
				?.OrderBy(x => x["DisplayName"])
				.ToList();
			if(constructors != null && constructors.Count > 0)
			{
				foreach(IDocument constructor in constructors)
				{
					string syntax = constructor.String("Syntax");
					string constructorSummary = constructor.String("Summary");
					IReadOnlyList<IDocument> parameters = constructor.List<IDocument>("Parameters");
					IReadOnlyList<ReferenceComment> paramComments = constructor.List<ReferenceComment>("Params");
					<li>
						@{
							if(!string.IsNullOrWhiteSpace(syntax))
							{
								<p><strong><code>@(syntax.Substring(syntax.IndexOf(" ") + 1))</code></strong></p>
							}
							if(!string.IsNullOrWhiteSpace(constructorSummary))
							{
								<p>@Html.Raw(constructorSummary)</p>
							}
							if(parameters != null && parameters.Count > 0 && paramComments != null && paramComments.Count > 0)
							{
								<ul>
									@foreach(IDocument parameter in parameters)
									{
										string paramSummary = paramComments?.Where(x => x.Name.Equals(parameter["Name"])).Select(x => x.Html).FirstOrDefault();
										paramSummary = paramSummary == null ? string.Empty : "<p>" + paramSummary + "</p>";
										<li><p><code>@parameter["Name"]</code></p>@Html.Raw(paramSummary)</li>
									}
								</ul>
							}
						}
					</li>				
				}
			}
			else
			{
				<li><p><strong><code>@(Model.Name())()</code></strong></p></li>
			}
		}
		</ul>
		
		// Methods (including from base types)
		List<IDocument> methods =
			Model.List<IDocument>("Members")
				?.Where(x => x.String("Kind") == "Method"
					&& x.String("Accessibility") == "Public" 
					&& x.Get<IDocument>("ReturnType").List<IDocument>("AllInterfaces").Any(y => y.String("Name") == "IModule"))
				.ToList();
		if(methods != null)
		{
			IDocument baseType = Model.Get<IDocument>("BaseType");
			while(baseType != null)
			{
				methods.AddRange(baseType.List<IDocument>("Members")
					?.Where(x => x.String("Kind") == "Method" && x.Get<IDocument>("ReturnType")
						.List<IDocument>("AllInterfaces").Any(y => y.String("Name") == "IModule")));
				baseType = baseType.Get<IDocument>("BaseType");
			}
			methods.Sort((a, b) => a.String("DisplayName").CompareTo(b.String("DisplayName")));
		}
		if(methods != null && methods.Count > 0)
		{
			<h2>Fluent Methods</h2>
			<p>Chain these methods together after the constructor to modify behavior.</p>
			<ul>
				@foreach(IDocument method in methods)
				{
					string syntax = method.String("Syntax");
					string methodSummary = method.String("Summary");
					IReadOnlyList<IDocument> parameters = method.List<IDocument>("Parameters");
					IReadOnlyList<ReferenceComment> paramComments = method.List<ReferenceComment>("Params");
					<li>
						@{
							if(!string.IsNullOrWhiteSpace(syntax))
							{
								// Two spaces - once for access modifier and again for return type
								<p><strong><code>@(syntax.Substring(syntax.IndexOf(" ", syntax.IndexOf(" ") + 1) + 1))</code></strong></p>
							}
							if(!string.IsNullOrWhiteSpace(methodSummary))
							{
								<p>@Html.Raw(methodSummary)</p>
							}
							if(parameters != null && parameters.Count > 0 && paramComments != null && paramComments.Count > 0)
							{
								<ul>
									@foreach(IDocument parameter in parameters)
									{
										string paramSummary = paramComments?.Where(x => x.Name.Equals(parameter["Name"])).Select(x => x.Html).FirstOrDefault();
										paramSummary = paramSummary == null ? string.Empty : "<p>" + paramSummary + "</p>";
										<li><p><code>@parameter["Name"]</code></p>@Html.Raw(paramSummary)</li>
									}
								</ul>
							}
						}
					</li>				
				}				
			</ul>
		}
		
		// Metadata
		IReadOnlyList<OtherComment> metadata =
			Model.List<OtherComment>("MetadataComments")
				?.Where(x => x.Attributes.ContainsKey("name"))
				.OrderBy(x => x.Attributes["name"])
				.ToList();
		if(metadata != null && metadata.Count > 0)
		{
			<h1>Metadata</h1>
			<hr />
			<p>The following metadata is added to each document.</p>
			<ul>
				@foreach(OtherComment meta in metadata)
				{
					<li>
						<p>
							@{
								string type = string.Empty;
								if(meta.Attributes.ContainsKey("type"))
								{
									type = ": <code>" + System.Net.WebUtility.HtmlEncode(meta.Attributes["type"]) + "</code>";
								}
							}
							<strong><code>@(meta.Attributes["name"])</code></strong>@Html.Raw(type)
						</p>
						@if(!string.IsNullOrWhiteSpace(meta.Html))
						{							
							<p>@Html.Raw(meta.Html)</p>
						}
					</li>
				}
			</ul>
		}	
		
	}	
</section>